fastapi
uvicorn[standard]

# Deep learning frameworks
tensorflow>=2.16,<2.20                                     
tf-keras                                             


# Face detection backends
retina-face==0.0.17
mtcnn                                 

# Face analysis & image processing
deepface                                                   
Pillow
opencv-python-headless        